body {
  margin: 0;
  font-family: Tahoma, Arial;
  direction: rtl;
}
.top-bar {
  display: flex;
  justify-content: space-between;
  padding: 12px;
}
.nav-center {
  font-weight: bold;
}
main {
  padding: 20px;
}
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  gap: 15px;
}
.card {
  padding: 20px;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.2s;
}
.card:hover {
  transform: translateY(-4px);
}
